body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 10px;
}

textarea {
    height: 50vh;
    width: 100%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.rightalign{
    display: flex;
    justify-content: flex-end;
}

.entry{
    display: flex;
    flex-direction: column;
    width: 80%;

}

.entrytitle{
    margin-block: 10px;
    padding: 2px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.border{
    border-radius: 10px;
    margin-block: 10px;
    padding: 5px;
}
